 
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("keck_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100px;
  margin: 0 auto;
}
 
.btn:hover {
  background-color: #2980B9;
}
 


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.searchbar {
  float: center;
  width: 100%;
}