
body{
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("keck_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.btn-primary{

}


.btn:hover {
  background-color: #2980B9;
}



.tab {
  overflow: hidden;
  text-align: center;
}

.searchbar {
  float: center;
  width: 100%;
}
