<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block body %}
{% if session['logged_in'] %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/search.css" type="text/css">
<a href='/logout'>Logout</a>
<h1><center>W.M. Keck Center for 3D Innovation Database</center></h1>
<html>

<div class="container">
  <body> 
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <script>
  	(function() {
    var cx = '014708723342938605049:vpog3_lowlk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  	})();
	</script>
	<gcse:search></gcse:search>

      <label for="pedigree">Pedigree:</label>
      <select class="form-control" id="pedigree" name="pedigree">
      	{% for o in ped_list %}
      		<option name="{{o}}">{{o}}</option>
      	{% endfor %}
        <option name="empty" SELECTED>N/A</option>
      </select>

      <label for="fabrication">Fabrication:</label>
      <select class="form-control" id="fabrication" name="fabrication">
      	{% for o in fab_list %}
      		<option name="{{o}}">{{o}} </option>
      	{% endfor %}
        <option name="empty" SELECTED>N/A</option>
      </select>

      <label for="post_processing">Post-Processing:</label>
      <select class="form-control" id="post_processing" name="post_processing">
      	{% for o in post_list %}
      		<option name="{{o}}">{{o}} </option>
      	{% endfor %}
        <option name="empty" SELECTED>N/A</option>
      </select>

      <label for="testing">Testing:</label>
      <select class="form-control" id="testing" name="testing">
      	{% for o in test_list %}
      		<option name="{{o}}">{{o}} </option>
      	{% endfor %}
        <option name="empty" SELECTED>N/A</option>
      </select>
      <button type="submit" class="btn btn-success" style="float:right; margin:20px">Search</button>
      <button type="submit" class="btn btn-success" style="float:left; margin:60px" name="admin_option" value="add_info">Add Data</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 </body>
</div>
<br>            

</html>
{% else %}
<p>You don't have access to this page! Go Back.</p>
{% endif %}
{% endblock %}