<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<a href='/logout' style="float: right">Logout</a>
<a href='/' style="float: left">Back</a>
<h1><center>W.M. Keck Center for 3D Innovation Database</center></h1>
{% block body %}
{% if session['logged_in'] %}
<html>

<div class="container">
<div>
    {% if results %}
            {% for doc_result in results %}
                <div class="alert alert-info"> {{ doc_result }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">No Results</div>
        {% endif %}
</div>
</div>          

</html>
{% else %}
<p>You don't have access to this page! Go Back.</p>
{% endif %}
{% endblock %}