<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block body %}
{% if session['logged_in'] %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<a href='/logout'>Logout</a>
<h1><center>W.M. Keck Center for 3D Innovation Database</center></h1>
<html>

<div class="container">
  <body> 
      {% from "_formhelpers.html" import render_field %}
      <form method="post">
        <dl>
            <div>
                {{ render_field(form.search, class="searchbar") }}
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                </colgroup>
                <tr>
                  <td>
                      {{ render_field(form.pedigree) }}
                  </td>
                  <td>
                      {{ render_field(form.fabrication) }}
                  </td>
                  <td>
                      {{ render_field(form.post_processing) }}
                  </td>
                  <td>
                      {{ render_field(form.testing) }}
                  </td>
                  <td>
                    <button type="submit" class="btn btn-success" style="float:right; margin:20px">Search</button>
                  </td>
                  </tr>
                </table>
        </dl>
      </form>
      
  <br>
 </body>
</div>
<div>
    {% if results %}
        {% for doc_id, doc_result in results %}
            <strong style="color: black">{{ doc_id }}</strong>
            <div class="alert alert-info"> {{ doc_result }}</div>
        {% endfor %}
        {% else %}
            <div class="alert alert-info">No Results</div>
        {% endif %}
</div>
<br>            

</html>
{% else %}
<p>You don't have access to this page! Go Back.</p>
{% endif %}
{% endblock %}